<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vending Machine</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="ui visible left demo vertical inverted sidebar labeled icon menu" style="width: 200px !important;">
            <% if(!currentUser){ %>
                <a class="item" href="/">
                    <i class="home icon"></i>
                    Home
                </a>
                <a class="item" href="/vendor/login">
                    <i class="sign in icon"></i>
                    Login
                </a>
                <a class="item" href="/vendor/register">
                    <i class="user outline icon"></i>
                    Register
                </a>
                <% }else{ %>
                    <a class="item">
                        <img style="margin: 10px auto;" class="ui tiny circular image" src="/images/elliot.jpg"> 
                        Signed in as <%= currentUser.username %>
                    </a>
                    <a class="item" href="/vendor/dashboard">
                        <i class="tasks icon"></i>
                        Dashboard
                    </a>
                    <a class="item" href="/vendor/add-machine">
                        <i class="plus square outline icon"></i>
                        Add Machine
                    </a>

                    <a class="item" href="/vendor/logout">
                        <i class="power inverted red icon"></i>
                        Logout
                    </a>
                    <% } %>
        </div>

    </nav>
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Vendor Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
                <% if(!currentUser){ %>
                    <a class="nav-item nav-link" href="/vendor/login">Login</a>
                    <a class="nav-item nav-link" href="/vendor/register">Register</a>
                    <% }else{ %>
                        <a class="nav-item nav-link" href="#">Signed In As
                            <%= currentUser.username %>
                        </a>
                        <a class="nav-item nav-link" href="/vendor/logout">Logout</a>
                        <% } %>
            </div>
        </div>
    </nav> -->

    <div class="container" style="padding-left:200px;">
            <div class="ui inline cookie nag" style="padding-top: 0px; padding-bottom: 0px;">
                    <% if(error && error.length > 0){ %>
                        <span class="title" style="padding-top: 11px; padding-bottom: 11px;">
                            <%= error %>
                        </span>
                        <% } %>
                            <% if(success && success.length > 0){ %>
                                <span class="title" style="padding-top: 11px; padding-bottom: 11px;">
                                    <%= success %>
                                </span>
                                <% } %>
                    <i class="close icon"></i>
                  </div>
        <!-- <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %>
                <% if(success && success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                    <% } %> -->
    </div>